.profile-image {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px;
  padding-top: 0px;
}

.profile-image-overlay {
  margin: auto;
  width: 210px;
  height: 210px;
  margin-bottom: 40px;
}

.profile-image-overlay:hover .profile-image {
  position: absolute;
  top: 0;
  z-index: -1;
}
.profile-image-overlay:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 210px;
  margin: auto;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.8);
}

.profile-image-overlay:hover:before {
  content: 'Change';
  font-weight: bold;
  color: white;
  border: solid 1px white;
  padding: 5px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

hr.vertical {
  height: 90vh;
  border: none;
  border-left: 0.5px solid rgba(0, 0, 0, 0.1);
  margin: 0px;
  margin-left: 30px;
  margin-top: -50px;
}

@media (max-width: 980px) {
  hr.vertical {
    display: none;
  }
}


.profile-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -15px;
  margin-bottom: 25px;
}

.profile-menu {
  margin-bottom: 40px;
}

.no-data {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

