.pointer:hover {
  cursor: pointer;
}

.margin-auto {
  margin: auto;
}

.hidden {
  display: none;
}

.content {
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 500px;
}

.right-menu {
  margin-top: 65px;
  margin-bottom: 40px;
}

@media (max-width: 752px) {
  .right-menu {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

.btn-raised-success {
  border: none;
  background: rgba(22,160,133,1);
  box-shadow: 0 3px 0 0 rgba(2,140,113,1);
}

.btn-raised-success[disabled] {
  border: none;
  background: rgba(22,160,133,1);
  box-shadow: 0 3px 0 0 rgba(2,140,113,1);
  color: white;
}

.btn-raised-success[disabled]:hover {
  cursor: not-allowed;
}

.btn-raised-success:hover {
  background: rgba(22,160,133,1);
  box-shadow: 0 3px 0 0 rgba(2,140,113,1);
}

.btn-raised-orange {
  border: none;
  background: rgba(211,84,0,1);
  box-shadow: 0 3px 0 0 rgba(191,64,0,1);
  color: white;
}

.btn-raised-orange:hover {
  background: rgba(211,84,0,1);
  box-shadow: 0 3px 0 0 rgba(191,64,0,1);
}

.btn-raised-yellow {
  border: none;
  background: rgba(241, 197, 14, 1);
  box-shadow: 0 3px 0 0 rgba(243, 156, 17, 1);
}

.btn-raised-yellow:hover {
  background: rgba(241, 197, 14, 1);
  box-shadow: 0 3px 0 0 rgba(243, 156, 17, 1);
}

.btn-raised-info {
  border: none;
  background:rgba(33, 149, 191, 0.8);
  box-shadow: 0 3px 0 0 rgba(17, 118, 154, 0.8);
}

.btn-info {
  border: none;
  background:rgba(33, 149, 191, 0.8);
}

.btn-raised-info:hover {
  background:rgba(33, 149, 191, 1);
  box-shadow: 0 3px 0 0 rgba(17, 118, 154, 1);
}

.btn-smooth {
  border-radius: 0px;
}

.btn-smooth-success {
  border: none;
  background: rgba(22,160,133,1);
}

.btn-smooth-orange {
  border: none;
  background: #e67e22;
}

.btn-invisible {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.5;
  color: black !important;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.link > button {
  cursor: pointer;
}

.link > a {
  cursor: pointer;
}

.link, .black:hover {
  color: #4b4b4b;
}

.link, .white:hover {
  color: white;
}

a[disabled] {
  pointer-events: none;
}

.black {
  color: #4b4b4b;
}

.white {
  color: white;
}

/*-------------------------- FORM ------------------------*/


.text-input {
  padding: 4px 12px 4px !important;
  border: solid 1px #e3e3e3;
  width: 100%;
  color: #777;
  background-color: rgba(0,0,0,0.05);
  outline: none;
}

.text-input-select > select {
  padding: 4px 12px 4px !important;
  border: solid 1px #e3e3e3;
  width: 100%;
  color: #777;
  background-color: rgba(0,0,0,0.05);
  outline: none;
  height: 46px;
  margin-bottom: 24px;
  border-radius: 0px;
}

.input-row {
  display: flex;
}

.right {
  float: right;
}

.flex-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

 /*------------------------- swagger ----------------------*/
.swagger > .swagger-ui .info a {
  display: none !important; /*hide base64 swagger url*/
}




.left-right {
  display: flex;
  justify-content: space-between;
}
