.content {
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 500px;
}

.right-menu {
  margin-top: 65px;
  margin-bottom: 40px;
}

@media (max-width: 752px) {
  .right-menu {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

.btn-raised-success {
  border: none;
  background: rgba(22,160,133,0.8);
  box-shadow: 0 3px 0 0 rgba(2,140,113,0.9);
}

.btn-raised-success:hover {
  background: rgba(22,160,133,1);
  box-shadow: 0 3px 0 0 rgba(2,140,113,1);
}

.btn-raised-orange {
  border: none;
  background: rgba(211,84,0,0.8);
  box-shadow: 0 3px 0 0 rgba(191,64,0,0.9);
  color: white;
}

.btn-raised-orange:hover {
  background: rgba(211,84,0,1);
  box-shadow: 0 3px 0 0 rgba(191,64,0,1);
}

.btn-raised-yellow {
  border: none;
  background: rgba(241, 197, 14, 0.8);
  box-shadow: 0 3px 0 0 rgba(243, 156, 17, 0.9);
}

.btn-raised-yellow:hover {
  background: rgba(241, 197, 14, 1);
  box-shadow: 0 3px 0 0 rgba(243, 156, 17, 1);
}

.link:hover {
  text-decoration: none;
}

.link > button {
  cursor: pointer;
}

.link > a {
  cursor: pointer;
}

.link, .black:hover {
  color: #4b4b4b;
}

.link, .white:hover {
  color: white;
}

.black {
  color: #4b4b4b;
}

.white {
  color: white;
}
