.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  max-width: 200px;
}

.navbar {
  padding: 10px;
  box-shadow: 0px 0.3px 4px gray;
  z-index: 99;
  background-color: #FFF;
}

.menu {
  margin-right: 25px !important;
  align-items: center;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.text-default {
  color: #FFF !important;
}
