.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  max-width: 200px;
}

.menubar {
  background-color: #4ebee3;
}

.text-default {
  color: #FFF !important;
}
