.login-btn {
  width: 150px;
  margin-right: 10px;
  color: white;
}

.form-login {
  margin-top: 80px;
  padding: 20px;
}

.form-login label {
}

.form-login button {
  margin-top: 12px;
}

.login-input {
  margin-bottom: 24px;
  padding: 10px !important;
  color: #404040;
}

.login-background {
  background-image: url(https://static.pexels.com/photos/356830/pexels-photo-356830.jpeg);
  background-size: auto 100%;
  width: 100%;
  /*filter: blur(5px);*/
}

.login-overlay {
  min-height: calc(100vh - 80px - 60px);
  width: 100%;
  background: rgba(0,0,0,0.6);
  overflow: auto;
}

.form-area {
  background: white;
  width: 40%;
  height: calc(100vh - 60px - 80px);
  float: right;
}

@media (max-width: 752px) {
  .form-area {
    width: 100%;
  }
}

.login-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  padding-top: 50px;
}

.login-submit {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.validate-error {
  color: red;
}
