.searchbar {
  margin: 0 0 1.5em;
}

.tab-content {
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0) #ddd #ddd;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 0px;
  padding: 10px;
}

.media {
  display: flex;
}

.media-bordertop {
  padding-top: 13px;
}

.media-content {
}

.media-img {
  padding: 5px;
  width: 80px;
  height: 80px;
  margin-right: 13px;
}

.media-border {
  padding-bottom: 13px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.ellipsis {
  white-space: nowrap;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mymenu {
  display: flex;
  margin-bottom: 40px;
  margin-left: 0px;
  border-top: solid #56b8db 3px;
  box-shadow: 0px 2px 1px #80808069;
  padding-top: 20px;
  padding-bottom: 15px;
}

.mymenu-header {
  max-width: 440px;
  text-align: center;
  margin-bottom: 10px;
}

.mymenu-content {
}

.mymenu-img{
  width: 200px;
}

.mymenu-icon {
 color: #56b8db;
 margin-right: 5px;
 vertical-align: baseline !important;
}

.mymenu-header-footer {
  font-size: 12px;
  margin-top: 10px;
}

.mymenu-description {
  line-height: 1.4;
  max-height: 65px;
  /*display: box;*/
  /*box-orient: vertical;*/
  /*line-clamp: 2;*/
  overflow: hidden;
  color: #6B6B6B;
}

.readmore {
  float: right;
  font-size: 12px;
}

.link {
  text-decoration: none;
}

.margin-content {
  margin-top: 80px;
}

.nav-tabs .nav-link.active {
  border-top: solid #56b8db 3px;
}

.right-menu {
  margin-top: 65px;
}

.content-header {
  background: #56b8db;
  width: 170px;
  text-align: center;
  margin-bottom: -16px;
  padding: 8px;
  border: none;
  color: white;
  font-style: italic;
}

.content-hr {
  border-top: solid 1.5px #56b8db;
}

.border-hr-type-a {
  border-top: solid 3px #46ac86;
}

.border-hr-type-b {
  border-top: solid 3px #f1d636;
}

.border-hr-type-c {
  border-top: solid 3px #eb7c53;
}
