.data-img {
  width: 300px;
  height: 190px;
  background-color: #ffffff !important;
}

.border-warning {
  border: 2.5px solid #e0da27 !important;
}

.border-success {
  border: 2.5px solid #1fbf83 !important;
}

.border-danger {
  border: 2.5px solid #d02626 !important;
}

.border-info {
  border: 2.5px solid #2260a0 !important;
}

.border-primary {
  border: 2.5px solid #7522a0 !important;
}

/* -------------- carousel -------------- */

.carousel .item {
    width: 100%; /*slider width*/
    height: 600px; /*slider height*/
}

.carousel-img {
  display:block !important;
  object-fit: cover;
}
